<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
 <system.serviceModel>
        <bindings>
               <basicHttpBinding>
                      <binding name="Service1Soap" maxBufferPoolSize="524288" maxBufferSize="2147483647"
                             maxReceivedMessageSize="2147483647" />
                      <binding name="ExchangeBLSoapBinding">
                             <security mode="Transport" />
                      </binding>
                      <binding name="ExchangeBLSoapBinding1" />
               </basicHttpBinding>
               <customBinding>
                      <binding name="ExchangeBLSoap12Binding">
                             <textMessageEncoding messageVersion="Soap12" />
                             <httpsTransport />
                      </binding>
               </customBinding>
        </bindings>
        <client>
               <endpoint address="http://www.dopsrv.reception03.kz/Service1.asmx"
                      binding="basicHttpBinding" bindingConfiguration="Service1Soap"
                      contract="DopService.Service1Soap" name="Service1Soap" />
               <endpoint address="https://appmis.eisz.kz/app/ws/ws1.1cws" binding="basicHttpBinding"
                      bindingConfiguration="ExchangeBLSoapBinding" contract="AppService.ExchangeBLPortType"
                      name="ExchangeBLSoap" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
